<!DOCTYPE html>
<html ng-app="zalarm">

<head>
  <meta charset="utf-8" />
  <title>AngularJS Plunker</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
  <script src="views/app.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
</head>

<body ng-controller="AlarmCtrl">
  <div class="zalarm_top">
    <button class="btn btn-default" ng-click="open()">新建</button>
    <h1>提醒</h1>
  </div>
  <div class="zalarm_list">
    <table>
      <thead>
        <tr>
          <th>提醒时间</th>
          <th>内容</th>
        </tr>
      </thead>
      <tr ng-repeat="alarm in alarms">
        <td>{{alarm.alarm_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{alarm.content}}</td> <td><a href="javascript:;">编辑</a>&nbsp;&nbsp;<a href="javascript:;">删除</a> </td> </tr>
    </table>
  </div>
</body>

</html>
